{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}


{% block main %}
<div class="container">
    {% if msg == "home_staff" or msg == "home_student" %}
    <div id="mainPage">
        <h1> <b>Welcome {{name}} !</b></h1>
    </div>

    <div class="dashboard">
        {% if msg == "home_staff" or msg == "add_assignment" or msg == "courses_section" or msg == "add_marks" or
        msg=="show_students" %}
        <form action="/homeStaff" method="post">
            <h1>My Dashboard</h1>
            <div>
                <button class="" name="add_course">Add Course</button>
                <button class="" name="add_assignment">Add Assignment</button>
                <button class="" name="add_marks">Add marks</button>
            </div>
        </form>
        {% endif %}

        {% if msg == "home_student" or msg == "register_courses" or msg == "current_courses"%}
        <form action="/homeStudent" method="post">
            <h1>My Dashboard</h1>
            <div>
                <button class="" name="registerCourse" value="selected">Register New Courses</button>
                <button class="" name="viewCourses" value="selected">View Registered Courses</button>
            </div>
        </form>
    </div>
    {% endif %}

    {% if msg == "home_staff" %}
    <h1>Added courses</h1>
    {% endif %}

    {% if msg == "home_student" %}
    <h1>registered courses: </h1>
    {% endif %}

    <div class="courses d-flex">
        {% for course in courses %}
        <div class="course-name">{{course["name"]}}</div>
        {% endfor %}
        {% endif %}
    </div>

    {% if msg == "courses_section" or msg == "register_courses" %}
    <div class="container">
        <div>
            {% if msg == "register_courses" %}
            <h1>Register New Course</h1>
            {% endif %}
            {% if msg == "courses_section" %}
            <h1>Add Course</h1>
            {% endif %}
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Course Name</th>
                    <th scope="col">Department</th>
                    <th scope="col">Cridit Hours</th>
                    <th scope="col">Midterm</th>
                    <th scope="col">Activities</th>
                    <th scope="col">Final</th>
                    <th scope="col">Add</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td scope="row">{{ course["name"] }}</td>
                    <td>{{ course["department"] }}</td>
                    <td>{{ course["ch"] }}</td>
                    <td>{{ course["midterm"] }}</td>
                    <td>{{ course["activities"] }}</td>
                    <td>{{ course["final"] }}</td>
                    <td>
                        <form action="/addCourse" method="post">
                            <div class="form-group">
                                <textarea maxlength="4294967295" name="course" class="form-control d-none" rows="10"
                                    cols="100" placeholder="Type your Note in here" autofocus
                                    required>{{course['cid']}}</textarea>
                                <button class="" value="course{{name}}" type="submit">ADD</button>
                            </div>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    {% if msg == "add_assignment" %}
    <div class="container log">
        <h1>Add Assignment</h1>
        <form action="/addAssignment" method="post">
            <div class="form-group">
                <label for="course">Added Courses :</label>
                <select id="course" name="course">
                    <option value="">-- select one --</option>
                    {% for course in courses %}
                    <option value="{{course['name']}}">{{course['name']}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="des">Assignment Description:</label>
                <input autocomplete="off" autofocus class="form-control" name="description"
                    placeholder="Enter The Description Here" type="text">
            </div>
            <div class="form-group">
                <label for="date">Due Date :</label>
                <input autocomplete="off" class="form-control" name="date" placeholder="Deadline of the Assignment"
                    type="datetime-local">
            </div>
            <button class="" type="submit">ADD Assignment</button>
        </form>
    </div>
    {% endif %}
    {% if msg == "home_student" %}
    <h1>Due Assignments:</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Course Name</th>
                <th scope="col">Description</th>
                <th scope="col">Due Date</th>
            </tr>
        </thead>
        <tbody>
            {% for ass in assignments %}
            <tr>
                <td>{{ ass['name']}}</td>
                <td>{{ ass["description"] }}</td>
                <td>{{ ass["deadline"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if msg == "current_courses" %}
    <div class="container">

        <div>
            <h1>View Registered Courses</h1>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Course Name</th>
                    <th scope="col">Credit Hours</th>
                    <th scope="col">Midterm</th>
                    <th scope="col">Activities</th>
                    <th scope="col">Final</th>
                    <th scope="col">Grade</th>
                    <th scope="col">Grade Score</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td>{{ course['name'] }}</td>
                    <td>{{ course["ch"] }}</td>
                    <td>{{course["register_midterm"]}} / {{course["midterm"]}}</td>
                    <td>{{course["register_activities"]}} / {{course["activities"]}}</td>
                    <td>{{course["register_final"]}} / {{course["final"]}}</td>
                    <td>{{ course["grade"] }}</td>
                    <td>{{ course["gradescore"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    {% if msg == "add_marks" or msg == "show_students"%}
    <div class="container log">
        <h1>Add Marks</h1>
        <form action="/addMarks" method="post">
            <div class="form-group">
                <label for="course">Select Course</label>
                <select id="course" name="course">
                    <option value="">-- select one --</option>
                    {% for course in courses %}
                    <option value="{{course['name']}}">{{course['name']}}</option>
                    {% endfor %}
                </select>
                <button class="" type="submit">show student</button>
            </div>
        </form>
        {% endif %}
        {% if msg == "show_students" %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Student Name</th>
                    <th scope="col">Student Code</th>
                    <th scope="col">Activities</th>
                    <th scope="col">Midterm</th>
                    <th scope="col">Final</th>
                    <th scope="col">Grade</th>
                    <th scope="col">Grade Score</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr class="mytr">
                    <td>{{ student['name'] }}</td>
                    <td>{{ student['register_sid'] }}</td>
                    <td>
                        <div contenteditable="true">{{ student['register_activities'] }}</div>
                    </td>
                    <td>
                        <div contenteditable="true">{{ student['register_midterm'] }}</div>
                    </td>
                    <td>
                        <div contenteditable="true">{{ student['register_final']}}</div>
                    </td>
                    <td>
                        <div contenteditable="true">{{ student["grade"] }}</div>
                    </td>
                    <td>
                        <div contenteditable="true">{{ student["gradescore"] }}</div>
                    </td>
                    <td class="as-btn" id="{{ student['register_sid'] }}"><button class="" type="submit">Edit</button>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>



{% endblock %}