{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block style %}
<style>
    div.btn-primary {
        width: 80%;
    }

    .btn-primary {
        margin: 5px;
        margin-right: 10px;
    }

    h2 {
        text-align: left;
        margin-left: 10px;
    }

    main {

        height: 90vh;
        display: flex;
        justify-content: center;
    }



    #right_div {
        height: fit-content;
        display: flex;
        width: 75%;
        flex-direction: column;
        justify-content: space-around;
        align-content: flex-start;
        margin-right: 10px;


    }

    #left_div {
        height: 100%;
        display: flex;
        width: 25%;
        justify-content: space-around;
        border-right-style: inset;
        margin-right: 10px;
    }

    li {
        text-align: left;
    }
</style>
{% endblock %}

{% block main %}
<div id="left_div">
    {% if msg == "home_staff" %}
    <form action="/homeStaff" method="post">
        <h2>Dashboard</h2>
        <div>
            <button class="" name="add_course">Add Course</button>
            <button class="" name="add_assignment">Add Assignment</button>
        </div>
    </form>
    {% endif %}

    {% if msg == "home_student" %}
    <form action="/homeStudent" method="post">
        <h2>Dashboard</h2>
        <div>
            <button class="" name="add_course" value="selected">Register New Courses</button>
            <button class="" name="add_assignment" value="selected">View Registered Courses</button>
        </div>
    </form>
    {% endif %}

</div>


<div id="right_div">

    {% if msg == "home_staff" %}
    <div id="mainPage" style="align-items: flex-start">
        <h1> <b>Welcome {{name}} !</b></h1>
    </div>
    {% endif %}
    {% if msg == "courses_section" %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Course Name</th>
                <th scope="col">Department</th>
                <th scope="col">Cridit Hours</th>
                <th scope="col">Midterm</th>
                <th scope="col">Activities</th>
                <th scope="col">Final</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td scope="row">{{ course["name"] }}</td>
                <td>{{ course["department"] }}</td>
                <td>{{ course["ch"] }}</td>
                <td>{{ course["midterm"] }}</td>
                <td>{{ course["activities"] }}</td>
                <td>{{ course["final"] }}</td>
                <td>
                    <button class="tbutton" name="course" value="btn-{{course['name']}}" type="submit">ADD</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}
    <script>
        var buttons = document.querySelectorAll("button");
        for (let i = 0; i < buttons.length; i++) {
            buttons[i].onclick = function () {
                console.log(buttons[i])
            }
        }
        console.log(buttons)
    </script>

</div>


{% endblock %}